* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

ul {
  list-style: none; }

.galeria_h2 {
  padding: 30px; }
  .galeria_h2 h2 {
    margin-top: 30px;
    padding: 20px;
    font-size: 40px;
    background-color: #defcf9;
    text-align: start;
    width: fit-content;
    color: #362FD9;
    font-size: 50px; }

.grilla {
  background-color: #defcf9;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 430px);
  grid-template-areas: "area1 area1 area2 area2" "area1 area1 area3 area3" "area4 area5 area5 area5" "area6 area6 area6 area6";
  gap: 15px; }

.galeria {
  position: relative; }

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s;
  filter: blur(5px); }

.galeria img:hover {
  filter: blur(0); }

.g1 {
  grid-area: area2; }

.g2 {
  grid-area: area1; }

.g3 {
  grid-area: area3; }

.g4 {
  grid-area: area4; }

.g5 {
  grid-area: area5; }

.g6 {
  grid-area: area6; }

.galeria__link {
  margin-bottom: 50px; }
  .galeria__link .galeria__link__div a {
    text-decoration: none;
    font-size: 30px;
    background-color: #defcf9;
    color: #362FD9;
    padding: 20px;
    margin-bottom: 30px;
    text-align: start;
    width: fit-content; }

.menu__nav {
  background-color: #defcf9; }

.navbar-brand {
  font-size: 30px; }

.nav-link {
  font-size: 20px;
  color: #3c84ab; }

.hero-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  animation-name: hb;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 20s;
  animation-delay: 1s; }
  .hero-section div {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start; }
  .hero-section h1 {
    color: #000;
    background-color: #defcf9;
    padding: 10px;
    font-size: 60px; }
  .hero-section p {
    color: #362FD9;
    background-color: #defcf9;
    padding: 10px;
    font-size: 20px; }

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 30px; }
  .cards .card {
    width: 375px;
    height: 350px;
    background-color: #defcf9; }
  .cards .card-img-top {
    height: 150px;
    object-fit: cover; }

@keyframes hb {
  0% {
    background-image: url(../assets/blazer-hero.jpg);
    background-size: cover;
    background-position: center;
    transition: 3s; }
  25% {
    background-image: url(../assets/silverado-hero.jpg);
    background-size: cover;
    background-position: center;
    transition: 3s; }
  50% {
    background-image: url(../assets/mustang-hero.jpg);
    background-size: cover;
    background-position: center;
    transition: 3s; }
  75% {
    background-image: url(../assets/maverick-hero.jpg);
    background-size: cover;
    background-position: center;
    transition: 3s; }
  100% {
    background-image: url(../assets/territory-hero.jpg);
    background-size: cover;
    background-position: center;
    transition: 3s; } }

.footer {
  background-color: #defcf9; }
  .footer .footer__div {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start; }
    .footer .footer__div .map {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .footer .footer__div .map p {
        font-size: 20px;
        color: #362FD9; }
      .footer .footer__div .map iframe {
        width: 100%; }
    .footer .footer__div .redes-sociales {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .footer .footer__div .nuestra-pagina {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }

.h3-footer {
  font-size: 25px;
  color: #000; }

.nuestra-pagina ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .nuestra-pagina ul li {
    padding: 20px; }
    .nuestra-pagina ul li a {
      text-decoration: none;
      font-size: 20px; }

.redes-sociales ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; }
  .redes-sociales ul li i {
    padding: 10px; }
  .redes-sociales ul li a {
    text-decoration: none;
    font-size: 20px; }

.main-contacto {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top;
  background-image: url(../assets/contacto-bg.jpg); }
  .main-contacto div {
    width: 100%;
    height: 80vh;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start; }
  .main-contacto h1 {
    color: #000;
    background-color: #defcf9;
    padding: 10px;
    font-size: 60px; }
  .main-contacto p {
    color: #362FD9;
    background-color: #defcf9;
    padding: 10px;
    font-size: 20px; }

.section-form_consulta {
  padding-top: 20px; }
  .section-form_consulta h2 {
    text-align: center;
    font-size: 40px;
    background-color: #defcf9;
    padding: 20px; }

.div-form_consulta {
  padding: 40px; }

.form_consulta {
  background-color: #defcf9;
  width: 100%;
  height: 100%;
  padding: 8%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.form_content {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.form_content input {
  padding: 1%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border-radius: 2%; }

.form_consulta label {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-self: centers;
  padding: 1%; }

.form_content textarea {
  resize: none; }

.form_boton {
  display: flex;
  justify-content: center;
  padding: 2%; }

.form-select {
  text-align: center; }

.main-service {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top;
  background-image: url(../assets/contacto-bg.jpg); }
  .main-service div {
    width: 100%;
    height: 80vh;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start; }
  .main-service h1 {
    color: #000;
    background-color: #defcf9;
    padding: 10px;
    font-size: 60px; }
  .main-service p {
    color: #362FD9;
    background-color: #defcf9;
    padding: 10px;
    font-size: 20px; }

.section-service {
  padding-top: 20px; }
  .section-service h2 {
    text-align: center;
    font-size: 40px;
    background-color: #defcf9;
    padding: 20px; }
  .section-service p {
    font-size: 20px;
    padding: 20px;
    text-align: left; }

.div_service_1 {
  padding: 20px; }

.div_service_2 {
  width: 250px;
  background-color: #defcf9;
  font-size: 50px;
  text-align: start; }
  .div_service_2 a {
    text-decoration: none;
    padding: 20px; }

.main-catalogo {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top;
  background-image: url(../assets/catalogo-bg.jpg); }
  .main-catalogo div {
    width: 100%;
    height: 80vh;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start; }
  .main-catalogo h1 {
    color: #000;
    background-color: #defcf9;
    padding: 10px;
    font-size: 60px; }
  .main-catalogo p {
    color: #362FD9;
    background-color: #defcf9;
    padding: 10px;
    font-size: 20px; }

.catalogo-cards {
  padding-top: 20px; }

.div-cards__suvs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px; }
  .div-cards__suvs .card {
    width: 375px;
    height: 400px;
    background-color: #defcf9;
    border: 2px solid #000;
    border-radius: 5px; }
    .div-cards__suvs .card img {
      height: 200px;
      object-fit: cover; }

.div-cards__deportivos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px; }
  .div-cards__deportivos .card {
    width: 375px;
    height: 400px;
    background-color: #defcf9;
    border: 2px solid #000;
    border-radius: 5px; }
    .div-cards__deportivos .card img {
      height: 200px;
      object-fit: cover; }

.div-cards__pickups {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px; }
  .div-cards__pickups .card {
    width: 375px;
    height: 400px;
    background-color: #defcf9;
    border: 2px solid #000;
    border-radius: 5px; }
    .div-cards__pickups .card img {
      height: 200px;
      object-fit: cover; }

.div-cards__h2 {
  text-align: center;
  font-size: 40px;
  background-color: #defcf9;
  padding: 20px; }

@media only screen and (max-width: 769px) {
  .navbar-brand {
    font-size: 20px; }
  .hero-section {
    height: 50vh; }
    .hero-section div {
      height: 50vh;
      padding: 5px; }
    .hero-section h1 {
      padding: 5px;
      font-size: 30px; }
    .hero-section p {
      padding: 5px;
      font-size: 15px; }
  .footer {
    background-color: #defcf9; }
    .footer .footer__div {
      padding: 10px;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .footer .footer__div .map {
        width: 100%; }
        .footer .footer__div .map p {
          font-size: 12px; }
        .footer .footer__div .map iframe {
          width: 250px;
          height: 250px; }
      .footer .footer__div .redes-sociales {
        padding-top: 30px;
        width: 100%; }
      .footer .footer__div .nuestra-pagina {
        width: 100%; }
  .h3-footer {
    font-size: 20px; }
  .nuestra-pagina ul {
    list-style: none; }
    .nuestra-pagina ul li {
      padding: 20px; }
      .nuestra-pagina ul li a {
        text-decoration: none;
        font-size: 15px; }
  .redes-sociales ul {
    list-style: none; }
    .redes-sociales ul li {
      padding: 20px; }
      .redes-sociales ul li i {
        padding: 10px; }
      .redes-sociales ul li a {
        text-decoration: none;
        font-size: 15px; }
  .cards {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .hero-section {
    height: 50vh; }
    .hero-section div {
      height: 50vh;
      padding: 5px; }
    .hero-section h1 {
      padding: 5px;
      font-size: 30px; }
    .hero-section p {
      padding: 5px;
      font-size: 15px; }
  .main-contacto {
    height: 40vh; }
    .main-contacto div {
      height: 40vh;
      padding: 5px; }
    .main-contacto h1 {
      padding: 5px;
      font-size: 25px; }
    .main-contacto p {
      padding: 5px;
      font-size: 15px; }
  .section-form_consulta {
    padding-top: 30px; }
    .section-form_consulta h2 {
      font-size: 25px;
      padding: 10px; }
  .main-catalogo {
    height: 40vh; }
    .main-catalogo div {
      height: 40vh;
      padding: 5px; }
    .main-catalogo h1 {
      padding: 5px;
      font-size: 25px; }
    .main-catalogo p {
      padding: 5px;
      font-size: 15px; }
  .div-cards__h2 {
    font-size: 25px; }
  .main-service {
    height: 40vh; }
    .main-service div {
      height: 40vh;
      padding: 5px; }
    .main-service h1 {
      padding: 5px;
      font-size: 25px; }
    .main-service p {
      padding: 5px;
      font-size: 15px; }
  .section-service h2 {
    font-size: 25px;
    padding: 10px; }
  .section-service p {
    font-size: 15px; }
  .div_service_1 {
    padding: 10px;
    padding-bottom: 30px; }
    .div_service_1 .div_service_2 {
      width: 150px;
      font-size: 25px; }
      .div_service_1 .div_service_2 a {
        padding: 20px; }
  .grilla {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 430px);
    grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6";
    gap: 10px; }
  .galeria img {
    filter: blur(0); }
  .g1 {
    grid-area: area2; }
  .g2 {
    grid-area: area1; }
  .g3 {
    grid-area: area3; }
  .g4 {
    grid-area: area4; }
  .g5 {
    grid-area: area5; }
  .g6 {
    grid-area: area6; }
  .galeria__link {
    margin: 15px;
    margin-bottom: 40px;
    padding: 1px;
    padding-left: 15px; }
    .galeria__link .galeria__link__div a {
      padding: 10px;
      margin: 10px; } }
