* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

ul, li, ol {
  list-style: none; }

.menu__nav {
  background-color: #defcf9; }

.navbar-brand {
  font-size: 30px; }

.nav-link {
  font-size: 20px;
  color: #3c84ab; }

.hero-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  animation-name: hb;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 20s;
  animation-delay: 1s; }
  .hero-section div {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start; }
  .hero-section h1 {
    color: #000;
    background-color: #defcf9;
    padding: 10px;
    font-size: 60px; }
  .hero-section p {
    color: #6b67f1;
    background-color: #defcf9;
    padding: 10px;
    font-size: 20px; }

.card {
  width: 375px;
  height: 350px;
  background-color: #defcf9; }

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 30px; }

.card-img-top {
  height: 150px;
  object-fit: cover; }

  
  .footer {
  background-color: #defcf9; }
  .footer .footer__div {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start; }
    .footer .footer__div .map {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .footer .footer__div .map p {
        font-size: 20px;
        color: #6b67f1; }
      .footer .footer__div .map iframe {
        width: 100%; }
    .footer .footer__div .redes-sociales {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .footer .footer__div .nuestra-pagina {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }

.h3-footer {
  font-size: 25px;
  color: #000; }

.nuestra-pagina ul {
  list-style: none; }
  .nuestra-pagina ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    .nuestra-pagina ul li a {
      text-decoration: none;
      font-size: 20px; }

.redes-sociales ul {
  list-style: none; }
  .redes-sociales ul li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px; }
    .redes-sociales ul li i {
      padding: 10px; }
    .redes-sociales ul li a {
      text-decoration: none;
      font-size: 20px; }

  @keyframes hb {
    0% {
      background-image: url(../assets/blazer-hero.jpg);
      background-size: cover;
      background-position: center;
      transition: 3s; }
    25% {
      background-image: url(../assets/silverado-hero.jpg);
      background-size: cover;
      background-position: center;
      transition: 3s; }
    50% {
      background-image: url(../assets/mustang-hero.jpg);
      background-size: cover;
      background-position: center;
      transition: 3s; }
    75% {
      background-image: url(../assets/maverick-hero.jpg);
      background-size: cover;
      background-position: center;
      transition: 3s; }
    100% {
      background-image: url(../assets/territory-hero.jpg);
      background-size: cover;
      background-position: center;
      transition: 3s; } }