.main-contacto{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: top;
    background-image: url(../assets/contacto-bg.jpg);


    div{
        width: 100%;
        height: 80vh;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
    }

    h1{
        
        color: #000;
        background-color: $color4;
        padding: 10px;
        font-size: 60px;
    }

    p{
        color: $color1;
        background-color: $color4;
        padding: 10px;
        font-size: 20px;
    }
}

.section-form_consulta{
    padding-top: 20px; 

    h2{
        text-align: center;
        font-size: 40px;
        background-color: $color4;
        padding: 20px;
    }
}


.div-form_consulta{
    padding: 40px;

}

.form_consulta{
    background-color: $color4;
    width: 100%;
    height: 100%;
    padding: 8%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_content input{
    padding: 1%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-radius: 2%;
}

.form_consulta label{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-self: centers;
    padding: 1%;
}

.form_content textarea{
    resize: none;
}

.form_boton{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.form-select{
    text-align: center;
}