//desktop

//@media only screen and (min-width:1280px) {}




//laptop

//@media only screen and (min-width:769px) and (max-width:1279px) {}





//tablet - mobile

@media only screen and (max-width:769px) {


    //header
    .navbar-brand {
        font-size: 20px;
    }

    .hero-section {
        height: 50vh;

        div {
            height: 50vh;
            padding: 5px;
        }

        h1 {
            padding: 5px;
            font-size: 30px;
        }

        p {
            padding: 5px;
            font-size: 15px;
        }
    }




    //footer
    .footer {
        background-color: $color4;

        .footer__div {
            padding: 10px;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .map {
                width: 100%;

                p {
                    font-size: 12px;
                }

                iframe {
                    width: 250px;
                    height: 250px;
                }
            }

            .redes-sociales {
                padding-top: 30px;
                width: 100%;
            }

            .nuestra-pagina {
                width: 100%;
            }
        }
    }

    .h3-footer {
        font-size: 20px;
    }

    .nuestra-pagina ul {
        list-style: none;

        li {
            padding: 20px;

            a {
                text-decoration: none;
                font-size: 15px;
            }
        }
    }

    .redes-sociales ul {
        list-style: none;


        li {
            padding: 20px;

            i {
                padding: 10px;
            }

            a {
                text-decoration: none;
                font-size: 15px;
            }
        }
    }


    //index main
    .cards {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        height: 50vh;

        div {
            height: 50vh;
            padding: 5px;
        }

        h1 {
            padding: 5px;
            font-size: 30px;
        }

        p {
            padding: 5px;
            font-size: 15px;
        }
    }



    //contacto main
    .main-contacto {

        height: 40vh;



        div {
            height: 40vh;
            padding: 5px;
        }

        h1 {
            padding: 5px;
            font-size: 25px;
        }

        p {
            padding: 5px;
            font-size: 15px;
        }
    }

    .section-form_consulta {
        padding-top: 30px;

        h2 {
            font-size: 25px;
            padding: 10px;
        }
    }


    //catalogo main
    .main-catalogo {
        height: 40vh;


        div {
            height: 40vh;
            padding: 5px;
        }

        h1 {
            padding: 5px;
            font-size: 25px;
        }

        p {
            padding: 5px;
            font-size: 15px;
        }
    }

    .div-cards__h2 {
        font-size: 25px;
    }



    //service main
    .main-service {
        height: 40vh;


        div {
            height: 40vh;
            padding: 5px;
        }

        h1 {
            padding: 5px;
            font-size: 25px;
        }

        p {
            padding: 5px;
            font-size: 15px;
        }
    }

    .section-service {
        h2 {
            font-size: 25px;
            padding: 10px;
        }

        p {
            font-size: 15px;
        }
    }

    .div_service_1 {
        padding: 10px;
        padding-bottom: 30px;

        .div_service_2 {
            width: 150px;
            font-size: 25px;


            a {
                padding: 20px;
            }
        }
    }




    //galeria

    .grilla {
        width: 100%;
        min-height: 100vh;
        max-height: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 430px);
        grid-template-areas:
            "area1"
            "area2"
            "area3"
            "area4"
            "area5"
            "area6"
        ;
        gap: 10px;
    }

    .galeria img {
        filter: blur(0);
    }

    .g1 {
        grid-area: area2;
    }

    .g2 {
        grid-area: area1;
    }

    .g3 {
        grid-area: area3;
    }

    .g4 {
        grid-area: area4;
    }

    .g5 {
        grid-area: area5;
    }

    .g6 {
        grid-area: area6;
    }

    .galeria__link {
        margin: 15px;
        margin-bottom: 40px;
        padding: 1px;
        padding-left: 15px;


        .galeria__link__div {
            a {
                padding: 10px;
                margin: 10px;
            }
        }
    }
}