.footer{
    background-color: $color4;

    .footer__div{
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: flex-start;

        .map{
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            p{
                font-size: 20px;
                color: $color1;
            }

            iframe{
                width: 100%
            }
        }

        .redes-sociales{
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .nuestra-pagina{
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.h3-footer{
    font-size: 25px;
    color: #000;
}

.nuestra-pagina ul{
    list-style: none;
    
    li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
        a{
            text-decoration: none;
            font-size: 20px;
        }
    }
}

.redes-sociales ul{
    list-style: none;
    
    
    li{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 20px;

        i{
            padding: 10px;
        }
        
        a{
            text-decoration: none;
            font-size: 20px;
        }
    }
}