.footer{
    background-color: $color1;
}

.footer__div{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.h3-footer{
    font-size: 25px;
}

li a{
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.map{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    h3{
        font-size: 25px;
    }

    p{
        font-size: 18px;
    }

    iframe{
        width: 300px;
        height: 300px;    
    }
}

.redes-sociales{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    h3{
        font-size: 25px;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li{
            font-size: 18px;
        }
    }
}
